/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1.25;
  height: 100%;
  position: relative;
  padding-bottom: 1px;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, 
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* End Resets */


body {
  font-size: 1.25rem;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
  background-color: #eef0f1;
  color: #474B53;
}
h1 {
  font-size: 2rem;
}
p {
  margin: 0 auto;
  text-align: left;
  padding: 1rem 0;
}
a {
  text-decoration: none;
  color: #8D96A4;
}
header {
  padding: 1rem 1.5rem;
  position: fixed;
  height: 3rem;
  width: 100%;
  background-color: #eef0f1;
}
.logo {
  width: 14rem;
}
.nav {
  float: right;
  padding: .5rem 0 0 3rem;
}
.intro {
  width: 90%;
  max-width: 400px;
  padding: 1rem;
  margin: 0 auto;
  text-align: left;
  font-size: 1.25rem;
}
.introsvgs {
  width: 8rem;
  display: inline-block;
  padding: 1rem;
}
.intro a {
  background-color: #5B94F7;
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 500;
  display: block;
  padding: 1rem;
  margin: 2rem auto;
  width: 12rem;
  text-align: center;
}
.menu {
  width: 90%;
  margin: 0 auto;
}
input {
  visibility: hidden;
}
.instrument-box {
  width: 100%;
  display: block;
}
.instrument-box img:first-child{
  display: block;
}
.instrument-box img:last-child{
  display: none;
}
input:checked + .instrument-box img:last-child{
  display: block;
  width: 300px;
}
input:checked + .instrument-box img:first-child{
  display: none;
}
.svgs {
  height: 20rem;
  width: 20rem;
  margin: 0 auto;
  padding: 3rem 0;
}
